[Unit]
Description=ipgetter
After=network.target
#Requires=xxx.service

[Service]
Type=simple
User=nobody
Restart=always
RestartSec=5s
ExecStart=/opt/apps/bin/ipgetter
ExecReload=/opt/apps/bin/ipgetter

[Install]
WantedBy=multi-user.target

